DmxAddressViewer {
    min-width: 50px;
    min-height: 50px;
    width: 5%;
    background-color: var(--unity-colors-default-background);
    border-width: 1;
    border-color: var(--unity-colors-default-border);
}

.dmx-viewer-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}
