:root {
    flex-direction: row;
}

#UniverseSelector {
    width: 150px
}

UniverseInfo {
    height: 50px;
    margin: 2px;
    padding: 5px;
    align-items: flex-start;
}

UniverseInfo.selected {
    background-color: var(--unity-colors-highlight-background);
}

DmxViewer {
    margin: 5px;
}
